@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    position: relative;
}

a {
    text-decoration: none !important;
}

/* product-list */
.product-list table tbody tr:nth-child(2n - 1){
    background-color: #F6F7F9;
}

.product-list table thead tr th{
    text-align: left;
}

.product-list table tfoot button.active{
    background-color: #4099FF;
    color: white;
    pointer-events: none;
}
/* End product-list */