mixin box-filter(options)   
  select(name="" class="border-[1px] border-[#4099ff] border-t-0 border-l-0 border-r-0 px-[12px] py-[10px] xl:w-[200px] w-full outline-none") 
        each item in options
            option(value=item.value) #{item.label}