form(form-search) 
  input(type="text" name="keyword" class="outline-none bg-[#4099FF] bg-opacity-10 rounded-[5px] py-[10px] pl-[10px] pr-[50px] text-black xl:w-[300px] w-full" placeholder="Tìm kiếm" form-search)
  button(type="submit" class="cursor-pointer absolute text-[#4099FF] w-[50px] h-full right-0 top-0 flex justify-center items-center")
    i(class="fa-solid fa-magnifying-glass")