form(form-search)
    div(class="")
        input(type="text" placeholder="Nhập từ khóa" name="keyword" class="w-[200px] outline-none border border-[#c7c5c5] rounded-[3px] py-[5px] px-[12px]")
        button(type="submit" class="font-[400] text-[16px] text-black py-[6px] px-[12px]") 
            i(class="fa-solid fa-magnifying-glass")